/* Reset */
html,body{margin: 0;padding: 0;width:100%;height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,img,fieldset,p,button,input{margin:0;padding:0}
body,h1,h2,h3,h4,input,button{font-family:'돋움',dotum,Helvetica,sans-serif;font-size:12px;}
body{*word-break:break-all;-ms-word-break:break-all}
img,fieldset,iframe{border:0 none;margin:0;padding:0;}
li{list-style:none}
input,select,button{vertical-align:middle}
img{vertical-align:middle}
em,address{font-style:normal}
label,button{cursor:pointer}
a{text-decoration:none}
a:hover{text-decoration:underline}
button *{position:relative}
button img{left:-3px;*left:auto}
html:first-child select{height:20px;padding-right:6px}
option{padding-right:6px}
hr{display:none}
legend{*width:0}

/* Type Selector */

body	 	{	margin:0px; padding:0px;
				font-size :12px;
				scrollbar-3dlight-color:#092A79;
				scrollbar-arrow-color:#FFFFFF;
				scrollbar-track-color:#EFEFEF;
				scrollbar-darkshadow-color:#092A79;
				scrollbar-face-color:#1440A3;
				scrollbar-highlight-color:#CCCCCC;
				scrollbar-shadow-color:#CCCCCC;
/*
				scrollbar-3dlight-color:#FFFFFF;
				scrollbar-arrow-color:#CCCCCC;
				scrollbar-track-color:#F9F9F9;
				scrollbar-darkshadow-color:#FFFFFF;
				scrollbar-face-color:#FFFFFF;
				scrollbar-highlight-color:#CCCCCC;
				scrollbar-shadow-color:#CCCCCC;
*/
			}

/*
td ,th		{	font-family:"Dotum";
				color:#000000;
				font-size:12px;
				line-height:12pt;
				letter-spacing:0px;
				table-layout:fixed;
}
*/

/*word-break:break-all;*/

input ,select{	
				border:1px solid #D8D8D8;
				background-color:#FBFBFB;
				font-family:"Dotum";
				color:#000000;
				padding:2px 5px 0px 5px;_height /**/:16px;
				font-size :12px;
}
textarea 	{	border:1px solid #D8D8D8;
				font-family:"Dotum"; 
				color:#000000; 
				font-size :12px; 
				padding:2px; 
				background-color:#FBFBFB;
				scrollbar-3dlight-color:#FFFFFF;
				scrollbar-arrow-color:#CCCCCC;
				scrollbar-track-color:#F9F9F9;
				scrollbar-darkshadow-color:#FFFFFF;
				scrollbar-face-color:#FFFFFF;
				scrollbar-highlight-color:#CCCCCC;
				scrollbar-shadow-color:#CCCCCC;
}

a:focus { outline:none; }
a										{text-decoration:none; border:0px;}
a:link									{font-family:"돋음"; font-size:12px ;text-decoration:none; color:#000000 ;line-height:14px;letter-spacing:0px;}
a:active								{font-family:"돋음"; font-size:12px ;text-decoration:none; color:#000000 ;line-height:14px;letter-spacing:0px;}
a:visited								{font-family:"돋음"; font-size:12px ;text-decoration:none; color:#000000 ;line-height:14px;letter-spacing:0px;}
a:hover 								{font-family:"돋음"; font-size:12px ;text-decoration:none; color:#999999 ;line-height:14px;letter-spacing:0px;}

.al{ text-align: left !important;}
.ac{ text-align: center !important;}
.ar{ text-align: right !important;}

.vt{ vertical-align:top !important;}
.vm{ vertical-align:middle !important;}
.vb{ vertical-align:bottom !important;}

.fl{ float:left !important;}
.fr{ float:right !important;}
.cl{ clear:both !important;}
.oh{ overflow:hidden !important;}

.pr{ position:relative; z-index:inherit}
.pa{ position:absolute; z-index:inherit}
.pa100{ position:absolute; z-index:inherit; left:0; top:0; width:100%; height:100%}

.di{display:inline-block; *display:inline; zoom:1;}
.db{ display:block !important;}
.dn{ display:none !important;}


/* Class css */
.left									{float:left;}
.right									{float:right;}
.clear									{clear:both;}
.alignLeft								{text-align:left;}
.alignRight								{text-align:right;}
.alignCenter							{text-align:center;}
/* auto {margin: 0px auto;} */
.verticalTop 							{vertical-align:top;}
.verticalBottom							{vertical-align:bottom;}
.verticalMiddle 						{vertical-align:middle;}
.imgAlign								{vertical-align: middle;}
.cursorPoint							{cursor:pointer;}
.board_page			{padding:10px 0px 10px 0px;}


/* padding select style */
.pd_t3    								{padding-top:3px}
.pd_t4  								{padding-top:4px}
.pd_t5									{padding-top:5px}
.pd_t6									{padding-top:6px}
.pd_t7									{padding-top:7px}
.pd_t10									{padding-top:10px}
.pd_t12									{padding-top:12px}
.pd_t13									{padding-top:13px}
.pd_t15									{padding-top:15px}
.pd_t20									{padding-top:20px}
.pd_t25									{padding-top:25px}
.pd_t30									{padding-top:30px;}
.pd_t30									{padding-top:30px;}
/* 추가 */
.pd_t40									{padding-top:40px;}

.pd_b3									{padding-bottom:3px}
.pd_b4									{padding-bottom:4px}
.pd_b5									{padding-bottom:5px}
.pd_b10									{padding-bottom:10px}
.pd_b12									{padding-bottom:12px}
.pd_b15									{padding-bottom:15px}
.pd_b20									{padding-bottom:20px}
.pd_b25									{padding-bottom:25px}
.pd_b30									{padding-bottom:30px}
/* 추가 */
.pd_b40									{padding-bottom:40px}

.pd_r3									{padding-right:3px}
.pd_r3									{padding-right:4px}
.pd_r5									{padding-right:5px}
.pd_r10									{padding-right:10px}
.pd_r12									{padding-right:12px}
.pd_r15									{padding-right:15px}
.pd_r20									{padding-right:20px}
.pd_r25									{padding-right:25px}
.pd_r30									{padding-right:30px}


.pd_l3									{padding-left:3px}
.pd_l4									{padding-left:4px}
.pd_l5									{padding-left:5px}
.pd_l10									{padding-left:10px}
.pd_l12									{padding-left:12px}
.pd_l15									{padding-left:15px}
.pd_l20									{padding-left:20px}
.pd_l25									{padding-left:25px}
.pd_l30									{padding-left:30px}

/*Choe Jungho Css*/
.hidden_elem{display:none;}
.pt{cursor:pointer;}
.cutstr {text-overflow : ellipsis;overflow : hidden;white-space : nowrap;}
.Tno_border{border:none;background-color:transparent;padding:0px;}
.img_submit{padding:0;margin:0;}

.sch_con{font-size:11px;background-color:#FEF3CD;cursor:pointer;padding:2px;line-height:11px;border:1px solid #30B61E;}
.sch_con:hover{text-decoration:underline;}

.banner_div{position:absolute;float:right;top:5;right:5px;}

.op_order_wrap_prev td{ border:none; padding-bottom:inherit}
.op_order_wrap td{ border:none; padding-top:inherit}
.op_order{ padding:20px 25px; background:#fff; border:1px solid #cfcfcf; margin-top:-1px; overflow:hidden;}
 .op_order > li{ width:48%; float:left; margin:0 1%}
.diy_order_wrap td{ border-bottom:1px solid #bcbcbc; padding:7px 10px;}
.diy_order_wrap .prod_tit_st .tit .va_tt{ font-size:13px; font-weight:600; color:#333}

.op_order_wrap_prev .qty{ display:inline-block; *display:inline; zoom:1; vertical-align:middle; width:57px; height:23px; *margin-right:3px; position:relative;}
.op_order_wrap_prev .qty .qty_input{ display:block; vertical-align:top; *margin-top:-1px; border:1px solid #ccc; background-color:#fff; width:30px; height:21px; line-height:21px; padding:0 3px; text-align:center; color:#8a8a8a; font-weight:bold;}
.op_order_wrap_prev .qty > a{ position:absolute; right:0; width:15px; height:9px; background-repeat:no-repeat; background-position:right; border:1px solid #ccc;}
.op_order_wrap_prev .qty .up{ top:0; background-image:url(../images/product/btn_arrow_up.html)}
.op_order_wrap_prev .qty .down{ bottom:0; background-image:url(../images/product/btn_arrow_down.html)}

input:-ms-input-placeholder { color: #999; }
input::-webkit-input-placeholder { color: #999; } 
input::-moz-placeholder { color: #999; } 
input::-moz-placeholder { color: #999;} 

.form_sec1{ float:left; margin:3px 13px 3px 0;}